@page "/give-feedback-received"
@model Ofgem.Web.BUS.ConsentPortal.WebApp.Pages.Consent.ConfirmationModel
@{
    ViewData["Title"] = "Feedback received";
}


    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">      

            <h1 id="thankyou-for-feedback-heading" class="govuk-heading-xl">                          	
                Thank you for your feedback
            </h1>

        </div>
    </div>
