@page
@model Ofgem.Web.BUS.ConsentPortal.WebApp.Pages.Consent.SessionExpiredModel
@{
    ViewData["Title"] = "Session expired";
}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        <h1 id="page-heading" class="govuk-heading-xl">You cannot continue</h1>
        <p class="govuk-body">This is because you spent longer than 30 minutes on the previous page.</p>
        <p class="govuk-body">For security reasons, we’ve had to time you out.</p>
        <p class="govuk-body">You’ll need to return to the original email from Ofgem, click the link and start again.</p>
        </div>
    </div>
