@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@section breadcrumbs{
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="#">Section</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link">Boiler Upgrade Scheme</a>
            </li>
        </ol>
    </div>

}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 id="page-heading" class="govuk-heading-xl">
        Get financial help for heat pumps and biomass boilers with the Boiler Upgrade Scheme
      </h1>

      <p class="govuk-body"><strong>Contents</strong></p>

          <ul class="govuk-list">
            <li><a class="govuk-link govuk-link--no-visited-state" href="#overview">Overview</a></li>
            <li><a class="govuk-link govuk-link--no-visited-state" href="#who-is-eligible">Who is eligible</a></li>
            <li><a class="govuk-link govuk-link--no-visited-state" href="#how-the-scheme-works">How the scheme works</a></li>
            <li><a class="govuk-link govuk-link--no-visited-state" href="#how-to-use-the-scheme">How to use the scheme</a></li>
            <li><a class="govuk-link govuk-link--no-visited-state" href="#get-support">Get support</a></li>
          </ul>

     <h2 class="govuk-heading-m" id="overview">Overview</h2>

     <p class="govuk-body">The Boiler Upgrade Scheme incentivises the installation of heat pumps and biomass boilers in domestic and non-domestic buildings. </p>

      <p class="govuk-body">The incentives available are:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>£5000 off the cost and installation of an air source heat pump</li>
        <li>£5000 off the cost and installation of a biomass boiler</li>
        <li>£7000 off the cost and installation of a ground source heat pump </li>
      </ul>


            <h2 class="govuk-heading-m" id="who-is-eligible">Who is eligible</h2>

      <p class="govuk-body">The installer must be accredited with the Microgeneration Certification Scheme (or equivalent).</p>

      <p class="govuk-body">The project must also meet the <a href="#">scheme’s eligibility criteria.</a></p>




            <h2 class="govuk-heading-m" id="how-the-scheme-works">How the scheme works</h2>

      <p class="govuk-body">We expect the new scheme to fit with installers’ existing business processes. </p>
      <br>

      <ol class="govuk-list govuk-list--number govuk-list--spaced">
        <p class="govuk-body"><strong>Check eligibility</strong></p>
        <li>The installer and customer agree whether a potential project is eligible for the scheme.</li>
        <li>If eligible, they agree a quote and sign a contract for the work.</li>
        <br>
        <p class="govuk-body"><strong>Customer consents</strong></p>
        <li>The customer uploads a copy of the quote online as confirmation that an installer can act on their behalf.</li>
        <li>After receiving this consent, Ofgem emails the installer with a link to the application online.</li>
        <br>
        <p class="govuk-body"><strong>Apply online</strong></p>
        <li>The installer completes the application.</li>
        <li>Following a background check, Ofgem emails the installer with the outcome of the application.</li>
        <br>
        <p class="govuk-body"><strong>Complete installation</strong></p>
        <li>The installer then has 3 months to complete the installation (6 months for a ground source heat pump).</li>
        <br>
        <p class="govuk-body"><strong>Claim incentive</strong></p>
        <li>After commissioning the new system, they can claim the incentive online.</li>
        <li>Ofgem pays the installer within 30 days.</li>
      </ol>

      <br>

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          3% of all claims will undergo a spot check site audit. In some situations, this could delay payment by up to 2 months.
        </strong>
      </div>


            <h2 class="govuk-heading-m" id="how-to-use-the-scheme">How to use the scheme</h2>

      <p class="govuk-body"><strong>Property owners</strong></p>

      <p class="govuk-body"><a href="#">Give consent for an installer to start your application</a></p>

      <p class="govuk-body"><strong>Installers</strong></p>

      <p class="govuk-body"><a href="#">Make a claim for a completed installation</a></p>

            <h2 class="govuk-heading-m" id="get-support">Get support</h2>

      <p class="govuk-body">If you have any questions or need help with the scheme, contact the Ofgem support team:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Email: <a href="#">boiler-upgrade@ofgem.gov.uk</a></li>
        <li>Tel: 01234 567890</li>
      </ul>


    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" style="border-top: 2px solid #1d70b8; padding-top:10px" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Boiler Upgrade Scheme - full eligibility rules (PDF)
              </a>
            </li>
            <li>
              <a href="#">
                Boiler Upgrade Scheme - detailed scheme guidance
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>
